.SearchResults {
  background-color: rgba(40, 21, 65, 0.8);
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    width: 45%;
    box-sizing: border-box;
  }
  
  .SearchResults h2 {
    margin-top: 0;
  }
  
  @media only screen and (max-width: 750px) {
    .SearchResults {
      width: 100%;
      height: auto;
      max-height: 90vh;
      overflow-y: scroll;
    }
  }
