/* Track.css */
.Track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fff solid 1px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .Track-information {
    text-align: left;
  }
  
  .Track-information h3 {
    margin: 0;
  }
  
  .Track-information p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .Track-action {
    background-color: #a259ff;
    border: none;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  