/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;

}

.App-playlist {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

h1 {
  color: white;
  font-size: 5rem;
}

/* Für das Titel-Highlight */
.highlight {
  color: rgb(162, 89, 255);
}
